.dialogWrapper {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 37px;
  margin-top: 5px;
  line-height: 22px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: aquamarine;
}
