.nav {
  grid-area: nav;
  background-color: deepskyblue;
  padding: 20px;
}

.item {
  color: white;
  text-decoration: none;
}
.item .active {
  color: goldenrod;
}

.sidebar {
  padding-top: 5em;
}
